<!DOCTYPE html>

<html ng-app>

<head>
	<title>Cristina's Java Quizzes</title>
	<script type = "text/javascript" src="angular.min.js"> </script>
	<script type = "text/javascript" src="controllers/QuestionController.js"> </script>
	<link href="bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap-theme.min.css" rel="stylesheet" />
	<link href="style.css" rel="stylesheet" />
</head>

<body>

<div class="navbar navbar-custom">
        <a class="navbar-brand" href="#">Cristina's Java Quizzes</a>
    </div>

<div class="panel">

	<div class="panel-header">
        	<div class="row">
				<div class="col-sm-6">
				<h2>Your score: <span class="label label-info">Label</span></h2>
				<br/><br/>
				</div>
				<div class="col-sm-6">
					<h2>Your time: <span class="label label-info">Label</span></h2>
					<br/><br/>
				</div>
			</div>
    </div>
 
	<div ng-controller="QuestionController" class="row grid-row">
	
	<div class="col-sm-8" style="height:500px;overflow-y:scroll;">			
		<ul>
			<li ng-repeat="question in questions" class="list-unstyled"><blockquote>{{question.text}}
				<form role="form">
					<div class="radio">
						<label><input type="radio" name="optradio">{{question.a1}}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio">{{question.a2}}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio">{{question.a3}}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio">{{question.a4}}</label>
					</div>	</blockquote>	
				</form>
				<br />
			</li>
		</ul>		
	</div>
	
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-12">	
			   
				<input type="text" class="form-control" ng-model="subject" placeholder="Filter">{{subject}}
				
				<ul>
					<li ng-repeat="question in questions | filter:subject | orderBy:'text' | limitTo:10 ">{{question.text | limitTo:150 }}</li>
				</ul>
			</div>		
		</div>
	</div>
	
</div>
	

</body>

</html>
